:root{
	--colorfondo: #44546a;
	--formatoP: table;
	--radio: 15px;
	--anchura: 30%;
	--boton-radio: 10px;
	--tamaño: 120%;
}

body{
	font-family: "Times New Roman', Times, serif";
	background-color: var(--colorfondo);

}

#login{
	display: var(--formatoP);
	margin: 10% auto;
	background-color:#015249;
	text-align: center;
	border-radius: var(--radio);
	width: var(--anchura);
}

#usuario{
	margin-left: 2%;
}

.datos{
    border: none;
    border-bottom: black solid 1px;
    justify-content: center;
    margin: 1% 0% 0% 0%;
    width: 25%;

}

.btn{
	background-color: #4CAF50; /* Green */
	border: #4CAF50 solid 1px;
  	color: white;
  	padding: 10px 15px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15px;
  	margin: 10px 5px;
  	border-radius: 10px;
  	transition-duration: 0.4s;
  	cursor: pointer;
}

.btn-accept{
	background-color: #008CBA;
	border: #008CBA solid 1px;
}

.btn-accept:hover{
	color: black;
	background-color: white;
	border: #008CBA solid 1px;
}

.btn-cancel{
	border: #f44336 solid 1px;
	background-color: #f44336;
}

.btn-cancel:hover{
	color: black;
	background-color: white;
	border: #f44336 solid 1px;
}

.ima{
	width: 15%;
    height: auto;
}

img{
	border-radius: 50%;
}

@media only screen and(max-width: 700px){

}