#Dbusqueda{
    transition-duration: 0.4s;
}

.datosTabla{
    padding: 2% 0% 0%;
}

#Bid{
    display: none;
    padding: 1%;
}

#BAp{
    display: none;
    padding: 1%;
}

.opcion{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: 0 20px;
    text-align: justify;
}