#Dexpediente{
	/*display: flex;*/
    flex-direction: column;
    overflow: auto;
    padding: 0% 1%;
    float: initial;
}

.Datos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    clear: left;
    
}