:root{
    --colorbarras:#015249;
    --botonescolor:#57BC90;
}
.button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(192, 8, 23);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 9px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #57BC90;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 9px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
select {
    background: transparent;
  
    font-size: 14px;
   
    padding: 5px;
    width: 250px;
    margin:20px auto 40px auto;	
  border:1px solid #d9d9d9;
  height:30px;
  overflow: hidden;
 
  position:relative;
 }
 .select-css {
display: block;
font-size: 16px;
font-family: 'Arial', sans-serif;
font-weight: 400;
color: #444;
line-height: 1.3;
padding: .4em 1.4em .3em .8em;
width: 200px;
max-width: 100%; 
box-sizing: border-box;
margin: 0;
border: 1px solid #aaa;
box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
border-radius: .3em;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background-color: #fff;
background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
background-repeat: no-repeat, repeat;
background-position: right .7em top 50%, 0 0;
background-size: .65em auto, 100%;
}
.estilotextarea3 {width:400px;height:100px;border: 2px solid #000000;font-family: Garamond,verdana;} 

*{
    padding: 0px;
    margin:0px;
}

html, body{
    height: 100%;
    font-family: 'Times New Roman', Times, serif;
}

input[type=text]{
    width: auto;
    padding: 2px 0px;
    margin: 5px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    transition: 0.5s;

}
input[type=text]:focus {
  border: 2px solid #555;
}


img:hover{
    cursor: pointer;
}

/* clases --------------------------------------------------*/
.cabecera{
    color: white;
    text-align: center;
}

.btn{
    background-color: var(--botonescolor);
    color:white;
	border: var(--botonescolor) solid 1px;
  	padding: 10px 15px;
  	text-align: center;
  	text-decoration: none;
  	margin: 0% 0%;
  	/*border-radius: 10px;*/
  	transition-duration: 0.4s;
    cursor: pointer;
    display: block;
    width:100%;
}

.btn-accept{
    background-color: #3b8dad;
    border: none;
    width: 5%;
    border-radius: 5px;
    color:white;
    text-decoration: none;
    cursor: pointer;
}

.btn:hover{
	color: black;
	background-color: white;

}

.modulos{
    display: none;
    float: left;
    padding: 0% 0% 0% 1%;
    width: 85%;
    transition-duration: 0.4s;
}

.tras{
    transition-duration: 0.4s;
}

/* identificadores -----------------------------------------------*/
#buscador{
    background-color: var(--colorbarras);
    transition-duration: 0.4s;
    border-radius: 0% 0% 10px 0px;
    float: left;
    height: auto;
    width: 15%;
    display: block;
}

#salir{
    margin: 100% 0%;
}

/* @medias -------------------------------------------------------------- */
@media (max-width: 780px){

    #buscador{
        transition-duration: 0.4s;
        margin-left: -300px;
    }

    .modulos{
        width: 100%;
    }
}


/*
mix-width: > pantalla
max-width: < pantalla
*/
