<div id="Dbusqueda" class="modulos">
        <label for="a">Buscar por</label>
        <select name="a" id="tipos" onchange="busqueda()">
            <option>----------</option>
            <option value="folio">Folio</option>
            <option value="apellido">apellidos</option>
        </select>
        <hr>
        <!-- div por folio -->
        <div id="Bid" class="tras">
            <h2>Busqueda por Folio</h2>
            <div>
                <label for="folio">Folio:</label>
                <input type="text" name="folio" id="fol" placeholder="Numero de expediente">
                <button class="btn-accept">Buscar</button>
            </div>

            <div>
                <hr>
                <center>
                    <caption>
                        <h2>Lista de Pacientes</h2>
                    </caption>
                    <table class="table-responsive">

                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Nombre</th>
                                <th>Detalles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15368745</td>
                                <td>masiso masiso</td>
                                <td>
                                    <div class="DoctorEs">
                                        <select>
                                            <option value="Doctor">Juan Lucas Lucas</option>
                                        </select>

                                        <select>
                                            <option value="cardiologo">cardiologo</option>
                                        </select>

                                        <select>
                                            <option value="matutino">matutino</option>
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-primary">Citar</button>
                                    <button type="button" class="btn btn-danger">Modificar</button>
                                    <button type="button" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
        </div>
        <!-- busqueda por apellidos -->
        <div id="BAp">
            <h2>Busqueda por Apellidos</h2>
            <div class="Datos">
                <div>
                    <label for="apellidoP">Apellido paterno</label>
                    <input type="text" name="apellidoP" placeholder="Numero de expediente">
                </div>
                <div>
                    <label for="apellidoP">Apellido materno</label>
                    <input type="text" name="apellidoM" placeholder="Numero de expediente">
                </div>
                <div>
                    <label for="apellidoP">Nombre(s)</label>
                    <input type="text" name="Nombre" placeholder="Numero de expediente">
                </div>
                <button class="btn-accept">Buscar</button>
            </div>

            <div class="table-responsive">
                <hr>
                <center>
                    <caption>
                        <h2>Lista de Pacientes (tabla ejemplo)</h2>
                    </caption>
                    <table border="1">

                        <thead>
                            <tr>
                                <th>Folio</th>
                                <th>Nombre</th>
                                <th>Detalles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>15368745</td>
                                <td>masiso masiso</td>
                                <td>
                                    <div class="DoctorEs">
                                        <select>
                                            <option value="Doctor">Juan Lucas Lucas</option>
                                        </select>

                                        <select>
                                            <option value="cardiologo">cardiologo</option>
                                        </select>

                                        <select>
                                            <option value="matutino">matutino</option>
                                        </select>
                                    </div>
                                </td>

                                <td>
                                    <button class="button">Citar</button>
                                    <button class="button button2">Modificar</button>
                                    <button class="button button3">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
        </div>
    </div>