    <div id="Dexpediente" class="modulos">
        <div class="Datos">
            <div>
                <!--curp -->
                <label for="curp">Curp:</label>
                <input type="text" name="curp" placeholder="Curp"><br><br>
            </div>
        </div>
        <hr>

        <div class="Datos">
            <div><label for="nombre">Nombre:</label><input type="text" name="nombre" placeholder="Nombre"></div>
            <div><label for="PA">Apellido Paterno:</label><input type="text" name="PA" placeholder="Primer apellido">
            </div>
            <div><label for="SA">Apellido materno:</label><input type="text" name="SA" placeholder="Segundo apellido">
            </div>
        </div>
        <hr>

        <div class="Datos">
            <div><label for="calle">calle:</label><input type="text" name="calle" placeholder="Calle"></div>
            <div><label for="lt">N° interior:</label><input type="text" name="lt" placeholder="Lote" pattern="[0-9]*">
            </div>
            <div><label for="mza">N° exterior:</label><input type="text" name="mza" placeholder="Manzana"
                    pattern="[0-9]*"></div>
            <div><label for="colonia">Colonia:</label><input type="text" name="colonia" placeholder="colonia"></div>
            <div><label for="CP">Codigo postal:</label><input type="text" name="CP" placeholder="Codigo postal"
                    pattern="[0-9]*"></div>
        </div>
        <hr>

        <div class="Datos">
            <div><label for="tel">Telefono:</label><input type="text" name="tel"></div>
            <div><label for="estado">Estado civil</label><input type="text" name="estado"></div>
            <div><label for="sangre">Tipo de sangre</label><input type="text" name="sangre" id=""></div>
            <div>
                <p>Sexo</p>
                <select name="sexo">
                    <option value="H">H</option>
                    <option value="M">M</option>
                </select>
            </div>
        </div>
        <hr>
    </div>