#receta{
	display: flex;
	flex-direction: column;
	padding: 0% 1%;
}

#cuerpo{
	border: solid 1px;
}

#firmaM{
	border: solid 1px;
    float: left;
    width: 54%;
    height: 245px;
}

.firmas{
	float: left;
}

.doctor{
	border: solid 1px;
	margin: 0% 0.1%;
	width: 25%;
    height: 283px;
}