<table class="table">
                        <thead>
                            <tr>
                                <th>Expediente</th>
                                <th>Nombre</th>
                                <th>Apellido Paterno</th>
                                <th>Apellido Materno</th>
                                <th>edad</th>
                                <th>seguro popular</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>661</td>
                                <td>Jorge Luis</td>
                                <td>Santos</td>
                                <td>Itza</td>
                                <td>21</td>
                                <td>N/A</td>
                                <td>
                                    <form>
                                        <a href="view_expediente.php" class="btn btn-primary">Abrir</a>
                                    </form>
                                </td>
                            </tr>

                            <tr>
                                <td>666</td>
                                <td>Jesus Gerardo</td>
                                <td>Chale</td>
                                <td>Cuxim</td>
                                <td>20</td>
                                <td>15497656</td>
                                <td>
                                    <form>
                                        <a href="view_expediente.php" class="btn btn-primary">Abrir</a>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>

<table class="table">
    <thead>
        <tr>
            <th>Expediente</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>edad</th>
            <th>seguro popular</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>661</td>
            <td>Jorge Luis</td>
            <td>Santos</td>
            <td>Itza</td>
            <td>21</td>
            <td>N/A</td>
            <td><form><a href="view_expediente.php" class="btn btn-primary">Abrir</a></form></td>
        </tr>

                                <tr>
                                    <td>666</td>
                                    <td>Jesus Gerardo</td>
                                    <td>Chale</td>
                                    <td>Cuxim</td>
                                    <td>20</td>
                                    <td>15497656</td>
                                    <td>
                                        <form>
                                            <a href="view_expediente.php" class="btn btn-primary">Abrir</a>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>